:root {
  --primary-color: #0a0908;
  --secondary-color: #22333b;
  --tertiary-color: #eae0d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 315px;
  font-family: "Roboto", sans-serif;
}

p {
  color: var(--secondary-color);
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}

section {
  margin: 20px 0;
}

button {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  transition: all 1s;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  width: 100%;
}

/* NAVBAR STARTS HERE  */

.navbar {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  background: var(--secondary-color);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--tertiary-color);
  font-weight: 700;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul a {
  color: var(--tertiary-color);
  text-transform: capitalize;
  display: block;
  padding: 10px;
}

.navbar ul a:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 5px;
}

.navbar .admin li:first-child a {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-color: transparent;
  border: 1px solid;
  margin-right: 3px;
  border-radius: 10px;
  padding: 10px 15px;
}

.navbar .admin li:first-child a:hover {
  background: transparent;
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

/* NAVBAR ENDS HERE */

/* BLOG LIST  */

.admin .row {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  gap: 20px;
}

.admin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin .blog-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px;
  margin: 10px 0;
  border: 1px solid var(--secondary-color);
}

.admin .blog-item h2 {
  text-transform: capitalize;
  padding: 10px 0;
}

.column .title {
  padding: 10px 0;
}

.column .add {
  width: 100%;
}

.add input,
.add textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
}

.add input {
  margin-bottom: 5px;
}

.add button {
  padding: 13px 20px;
  display: block;
  margin: 10px 0;
  color: var(--tertiary-color);
  background: var(--secondary-color);
  transition: all 1s;
}

.add button:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

/* BLOG LIST  */

.copyright p {
  text-align: center;
  padding: 15px 0 20px 0;
  color: var(--tertiary-color);
}


/* FOOTER  */

footer{
    background: var(--primary-color);
    bottom: 0;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}

.sidenav {
  display: none;
}

#closeBtn {
  display: none;
}

#closeBtn,
#toggleBtn {
  border: none;
  outline: none;
  background: transparent;
  color: var(--tertiary-color);
  border: 1px solid;
  padding: 10px;
  border-radius: 50%;
}

#closeBtn:hover,
#toggleBtn:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
}

@media (max-width: 720px) {
  .navlinks,
  .admin {
    display: none;
  }

  .sidenav {
    display: block;
  }

  .sidenav button {
    display: block;
  }

  .sidenav-links {
    display: none;
  }

  .sidenav .sidenav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 10px;
    background: var(--secondary-color);
  }

  .sidenav .sidenav-links.active ul {
    display: flex;
    flex-direction: column;
  }

  .sidenav .sidenav-links.active ul a {
    border-bottom: 1px solid var(--primary-color);
    display: block;
  }
}

@media (max-width: 780px) {
  .hero .row {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .about .row {
    flex-direction: column;
  }

  .contact .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
