@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
 :root {
  --primary-color: #0a0908;
  --secondary-color: #22333b;
  --tertiary-color: #eae0d5;
}
}
body {
  background-color: #eae0d5;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: var(--background-color1);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  color:var(--primary-color);
}

.icn {
  height: 30px;
}
.menuicn {
  cursor: pointer;
}

#new-blog-section {
  height: 100vh;
}

.searchbar,
.message,
.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar2 {
  display: none;
}

.logosec {
  gap: 60px;
}

.searchbar #searchInput {
  width: 20vw;
  height: 42px;
  border-radius: 50px 0 0 50px;
  background-color: var(--background-color3);
  padding: 0 20px;
  font-size: 15px;
  outline: none;
  color:black;
  border: none;
}
.searchbtn {
  width: 50px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  background-color: #22333b;
  cursor: pointer;
}

.message {
  gap: 40px;
  position: relative;
  cursor: pointer;}
.circle {
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: #22333b;
  border-radius: 50%;
  left: 19px;
  top: 8px;
}
.dp {
  height: 40px;
  width: 40px;
  background-color: #22333b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}
.dpicn {
  height: 42px;
}

.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  background-color:var(--tertiary-color);
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar {
  width: 5px;
}
.main::-webkit-scrollbar-track {
 --primary-color: #0a0908;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.nav {
  min-height: 91vh;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0;
  box-shadow: 1px 1px 10px lightgray;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}
.navcontainer {
  height: calc(100vh - 70px);
  width: 18%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 3px 3px 10px gray;
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
.navclose {
  width: 80px;
 
}
.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
 
}

.nav-option h4 {
  font-size: 0.9rem;
  color:var( --primary-color #0a0908);
}
.nav-option:hover {
  border-left: 2px solid var(--primary-color 0a0908);
  background-color: #767676;
  cursor: pointer;
}
.icon {
  color: black;
  font-size: 1rem;
}
.icon1 {
  color: black;
  font-size: 2rem;
}
.nav-upper-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  gap: 20px;
  padding: 0 1rem;
}

.option1 {
  background-color: white;
  cursor: pointer;
}
.option1:hover {
  background-color: #767676;
}
#dashboard-link:hover {
  background-color: #767676;
}
.box {
  height: 130px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px gray;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.box:hover {
  transform: scale(1.08);
}

.box:nth-child(1) {
  border: 1px solid;
}
.box:nth-child(2) {
  border: 1px solid lightgray;
}
.box:nth-child(3) {
  border: 1px solid lightgray;
}
.box:nth-child(4) {
  border: 1px solid lightgray;
}

.box img {
  height: 50px;

}
.box .text {
  color: white;
}
.topic {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color:black;
}

.topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
  color: black;
}

.report-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}
.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid black;
}

.recent-Articles {
  font-size: 30px;
  font-weight: 600;
}

.view {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #22333b;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.report-body {
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
}
.report-topic-heading,
.item1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-op {
  font-size: 18px;
  letter-spacing: 0px;
}

.items {
  width: 100%;
  margin-top: 15px;
}

.item1 {
  margin-top: 20px;
}
.t-op-nextlvl {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
}

.label-tag {
  width: 100px;
  text-align: center;
  background-color:#22333b;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

#users-section {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



.icon2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  margin: 1rem;
}

.newBlogBtn {
  border: none;
  height: auto;
  font-size: 12px;
  color: #eae0d5 ;
  padding: 0.5rem 4rem;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background:#22333b;
  transition: 0.2s ease;
}
@media screen and (max-width: 950px) {
  .nav-img {
    height: 25px;
  }
  nav h4 {
    display: none;
  }
  .nav-option {
    gap: 30px;
  }
  .nav-option h3 {
    font-size: 15px;
  }
  .report-topic-heading,
  .item1,
  .items {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .nav-img {
    height: 30px;
  }
  .nav-option {
    gap: 30px;
  }
  nav h4 {
    display: flex;
  }
  .nav-option h3 {
    font-size: 20px;
  }
  .report-topic-heading,
  .item1,
  .items {
    width: 700px;
  }
  .navcontainer {
    width: 100vw;
    position: absolute;
    transition: all 0.6s ease-in-out;
    top: 0;
    left: -100vw;
  }
  .nav {
    width: 100%;
    position: absolute;
  }
  .navclose {
    left: 00px;
  }
  .searchbar {
    display: none;
  }
  .main {
    padding: 40px 30px 30px 30px;
  }
  .searchbar2 {
    width: 100%;
    display: flex;
    margin: 0 0 40px 0;
    justify-content: center;
  }
  .searchbar2 input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    border: 2px solid #767676;
  }
}

@media screen and (max-width: 490px) {
  .message {
    display: none;
  }

  .logosec {
    width: 100%;
    justify-content: space-between;
  }
  .logo {
    font-size: 20px;
  }
  .menuicn {
    height: 25px;
  }
  .nav-img {
    height: 25px;
  }
  .nav-option {
    gap: 25px;
  }
  .nav-option h3 {
    font-size: 12px;
  }
  .nav-upper-options {
    gap: 15px;
  }
  .recent-Articles {
    font-size: 20px;
  }
  .report-topic-heading,
  .item1,
  .items {
    width: 550px;
  }
}

@media screen and (max-width: 400px) {
  .recent-Articles {
    font-size: 17px;
  }
  .view {
    width: 60px;
    font-size: 10px;
    height: 27px;
  }

  .report-header {
    height: 60px;
    padding: 10px 10px 5px 10px;
  }
  .searchbtn img {
    height: 20px;
    background-color: #22333b;
  }
}

@media screen and (max-width: 320px) {
  .recent-Articles {
    font-size: 12px;
  }
  .view {
    width: 50px;
    font-size: 8px;
    height: 27px;
  }

  .report-header {
    height: 60px;
    padding: 10px 5px 5px 5px;
  }
  .t-op {
    font-size: 12px;
  }
  .t-op-nextlvl {
    font-size: 10px;
  }
  .report-topic-heading,
  .item1,
  .items {
    width: 300px;
  }
  .report-body {
    padding: 10px;
   
  }
  .label-tag {
    width: 70px;
  }
  .searchbtn {
    width: 40px;
    background-color: #22333b;
  }
  .searchbar2 input {
    width: 180px;
  }
}
