#profile-section {
  background-color: white;
  height: 90vh;
}

.profile-container {
  width: 100%;
  height: 100%;
}

.profile-container,
.user-details,
.profile-picture {
  justify-content: center;
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
}

.user-details {
  width: 60%;
  height: 80%;
 
}
.profile-picture {
  width: 40%;
  height: 80%;
  flex-direction: column;
  /* background-color: aqua; */
}
.profile-picture img {
  width: 70%;
  height: 15rem;
}
.actionBtns {
  margin: 1rem 0;
}
.actionBtn {
  background-color: #22333b;
  /* width: 100%; */
  color:  #eae0d5;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.picBtn {
  background-color: #22333b;
  margin-top: 1rem;
  width: 90%;
  color:  #eae0d5;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-details form {
  width: 80%;
  height: 100%;
  justify-content: space-between;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.input-group #editor {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .profile-container {
    flex-direction: column;
    justify-content: space-between;
  }
  .user-details {
    width: 100%;
    margin-top: 2rem;
  }
  .profile-picture {
    width: 100%;
  }
  .profile-picture img {
    width: 70%;
    height: 13rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .profile-picture img {
    width: 50%;
    height: 16rem;
  }
  .picBtn {
    padding: 13px 20px;
    font-size: 1.8rem;
  }
  .input-group label {
    font-size: 1.8rem;
  }
  .input-group #editor {
    padding: 1.5rem;
  }
}
