@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

#users-section {
  overflow: auto;
  max-width: 100%;
  height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  border-radius: 1rem 1rem 0 0;
  margin-left: 0;
  overflow-x: auto;
}

td,
th {
  padding: 15px 10px;
  text-align: center;
}

th:first-child {
  border-radius: 1rem 0 0;
}

th:last-child {
  border-radius: 0 1rem 0 0 ;
}

th {
  background-color: #22333b;
  color:#eae0d5;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
}

tr {
  width: 100%;
  background-color: #eae0d5;
  font-family: "Poppins", sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.user-header {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 0; /* Adjusted margin for smaller screens */
}

@media only screen and (max-width: 768px) {
  td,
  th {
    padding: 15px 5px;
  }

  .user-header {
    margin-left: 0;
  }
}

@media only screen and (max-width: 550px) {
  table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }

  td,
  th {
    min-width: 120px;
    box-sizing: border-box;
  }
}
